<h1>Mark Form</h1>
<form action="/submit" method="post">
    Name:<input type="text" name="name"> <br><br>
    t1:<input type="number" name="t1"><br><br>
    t2:<input type="number" name="t2"><br><br>
    t3:<input type="number" name="t3"><br><br>
    t4:<input type="number" name="t4"><br><br>
    <input type="submit">
</form>